.container {
    background-color: aqua;
    perspective: 1000px;

}


.img {
    width: 300px;
    transition-property: all;
    transition-duration: 1s;
    transform-origin: 100% 0%;
    transform: rotateX(30deg);

    

}


img:hover{
    transform: rotateX(-60deg);
}